- if tasks.present?
  .table
    table
      thead
        tr
          th
            | タスク名
          th
            | タスク詳細
          th
            | 期限
          th
            | ステータス
          th[colspan="3"]
          th
      tbody
        - tasks.each do |task|
          tr
            td
              = task.name
            td
              = truncate(task.body, length:25)
            td
              = l(task.date, format: :long)
            td
              - if task.finished == true
                |  処理済み
              - else
                |  未処理
            td
              = link_to '詳細', task, class: "btn btn-outline-primary"
            td
              = link_to '編集', edit_task_path(task), class: "btn btn-outline-success"
            td
              = link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"
            td
              - if task.finished == false
                = link_to '処理済みにする', confirm_task_path(task), class: "btn btn-outline-primary"
    = paginate tasks
- else
  p[style="padding:20px;color:blue;"]
    | データが登録されていません。
