<div class="container">
  
<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-12">  
      <h4>タスク一覧</h4>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#task_active" class="nav-link active" data-toggle="tab">未処理タスク</a>
          </li>
          <li class="nav-item">
            <a href="#task_done" class="nav-link" data-toggle="tab">処理済みタスク</a>
          </li>
        </ul>
    
        <div class="tab-content">
          <div id="task_active" class="tab-pane active">
            <%= render 'index', tasks: @tasks_active %>
          </div>
          <div id="task_done" class="tab-pane">
            <%= render 'index', tasks: @tasks_done %>
          </div>
        </div>
    </div>
  
   
  <div class="row">
    <div class="col-12">
      <h4>新しいタスク</h4>
      <%= render 'form', task: @task %>
    </div>
  </div>
</div>