= form_with(model: group, local: true) do |form|
  - if group.errors.any?
    #error_explanation
      h2
        = pluralize(group.errors.count, "error")
        |  prohibited this group from being saved:
      ul
        - group.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label 'グループ名'
    = form.text_field :name, class: "form-control", placeholder: "例）営業1グループ1課"
  .field
    = form.label 'グループ画像'
    br
    = form.attachment_field :group_image
  div
    = form.label :user_ids, "メンバー", class: "control-label"
    p

    ul[style="list-style:none;display:flex;"]
      - @users.each do |user|
        li[style="margin-right: 16px;"]
          = form.check_box :user_ids, {multiple: true}, user.id, nil
          = attachment_image_tag user, :profile_image, size: '40x40', format: 'jpeg', fallback: "no_image.jpg", class: "img"
          = user.name
    - #= form.check_box :user_ids,{ multiple: true, checked: user[:checked], disabled: user[:disabled], include_hidden: false, class: "check-box" }, user[:id]
  .actions
    = form.submit
