<div class="container">
  <h4>グループ一覧</h4>
  <div class="row">
    <div class="col-12">
      <%= render 'index', groups: @groups_mine %>
    </div>

    <div class="col-12">
      <h4>グループ新規作成</h4>
      <%= render 'form', group: @group %>      
    </div>
  </div>
</div>