<div class="container">
  <h4>グループ一覧</h4>
  <div class="row">
    <div class="col-12">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#my_groups" class="nav-link active" data-toggle="tab">参加グループ一覧</a>
    </li>
    <li class="nav-item">
      <a href="#all_groups" class="nav-link" data-toggle="tab">全グループ一覧</a>
    </li>
  </ul>


  <div class="tab-content">
    <div id="my_groups" class="tab-pane active">
      <%= render 'index', groups: @groups_mine %>
    </div>

    <div id="all_groups" class="tab-pane">
      <%= render 'index', groups: @groups_all %>
    </div>

  </div>
  

 </div>


  <div class="col-12">


<h4>グループ新規作成</h4>

<%= render 'form', group: @group %>


  </div>
  </div>
</div>