.container
  .row
    .col-4
      p
        strong
          | グループ名:
        = @group.name
      p
        = attachment_image_tag @group, :group_image, size: '200x200', format: 'jpeg',fallback: "no_image.jpg", class: "img"
    .col-8
      p
        | グループメンバー
      div
        - @group.users.each do |user|
          div
            = attachment_image_tag user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg", class: "img"
            = user.name
            = link_to 'ユーザー詳細画面へ', user_path(user.id, week_id: 0)
    = link_to '編集する', edit_group_path(@group), class: "btn btn-outline-primary"
    |  | 
    = link_to '一覧に戻る', groups_path, class: "btn btn-outline-primary"
    - unless @group.users.include?(current_user)
      = link_to '参加する', join_group_path(@group), class: "btn btn-outline-primary"
    - else
      = link_to 'チャットする', group_chats_path(params[:id]), class: "btn btn-outline-primary"
