- if follows.exists?
  .table
    table
      thead
        tr
          th
          th
            | 名前
          th
            | 自己紹介
          th
            | フォロワー数
          th
            | フォロー数
          th
      tbody
        - follows.each do |user|
          tr
            td
              = attachment_image_tag user, :profile_image, size: '60x60', format: 'jpeg', fallback: "no_image.jpg", class: "img"
            td
              = link_to user.name, user_path(user.id, week_id: 0)
            td
              = truncate(user.introduction, length:35)
            td
              | フォロー数:
              = user.followings.count
            td
              | フォロワー数:
              = user.followers.count
            - friend = Friend.find_by(friend_id: user.id, myself_id: current_user.id)
            td
              = link_to "友達から削除", friend_path(friend.id, params: {id: friend.id}), data: { confirm: '本当に削除しますか?' }, method: :delete, class: "btn btn-outline-danger"
  = paginate follows
- else
  p
    | ユーザーはいません

