<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>ユーザー一覧</h4>
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#user_know" class="nav-link active" data-toggle="tab">知人</a>
          </li>
          <li class="nav-item">
            <a href="#user_all" class="nav-link" data-toggle="tab">すべてのユーザー</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="user_know" class="tab-pane active">
            <%= render 'index', follows: @users_know %>
            <%= render 'search', user: @user %>
          </div>
          <div id="user_all" class="tab-pane">
            <%= render 'follows/follow', follows: @users %>
          </div>
        </div>
    </div>
  </div>
</div>