<div class="container">
  <div ckass="row">
    <div class="col">
      <%= render 'form', event: @event %>
      <%= link_to '詳細', @event %> |
      <%= link_to 'イベント一覧へ', events_path %>
    </div>
  </div>
</div>
