.container
  .row
    .col-12
      h4
        | カレンダー
      .table
        table
          thead
            tr
              th
                | イベント名
              th
                | イベント詳細
              th
                | 開始日時
              th
                | 終了日時
              th[colspan="3"]
          tbody
            - @events.each do |event|
              tr
                td
                  = event.title
                td
                  = event.body
                td
                  = l(event.start_time, format: :long)
                td
                  = l(event.end_time, format: :long)
                td
                  = link_to '詳細', event, class: "btn btn-outline-primary"
                td
                  = link_to '編集', edit_event_path(event), class: "btn btn-outline-success"
                td
                  = link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger"
        = paginate @events
  .row
    .col-12
      = link_to '新しい予定の入力', new_event_path, class: "btn btn-outline-primary"
  .row
    .col-12[style="margin-bottom:100px;"]
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link.active[href="#month_calendar" data-toggle="tab"]
            | 月
        li.nav-item
          a.nav-link[href="#week_calendar" data-toggle="tab"]
            | 週
      .tab-content
        #month_calendar.tab-pane.active
          = month_calendar(events: @events) do |date, events|
            = date
            - events.each do |event|
              div
                = event.title
                = event.start_time.strftime('%H:%M')
                | ～
                = event.end_time.strftime('%H:%M')
        #week_calendar.tab-pane
          = week_calendar(number_of_weeks: 1, events: @events) do |date, events|
            = date
            - events.each do |event|
              div
                = event.title
