<div class="container">
  <div class ="row">
    <div class="col">
      <h4>グループチャット</h4>
      <div class="chats">
        <div id="posts">
          <%= render partial: 'form', locals: {group: @group, chat: @chat} %>
        </div>
        <div id="chat">
          <%= render partial: 'index', locals: { chats: @chats} %>
        </div>
      </div>
    </div>
  </div>
</div>