<div class="container">
  <div class="row">
    <p>ABOUT</p>
    <div class="col-12">
      <p>GOALとは？</p>
      <p>会員登録したユーザーだけが使える、目標達成に近づくための
振り返りが行えるサイト。
目標を設定し、毎日の成果の振り返りを記入する。
達成率のグラフ化。
グループ機能搭載、グループ内でチャットができる。
投稿した他者の振り返りについて、お気に入りに登録可能。
カレンダー機能搭載で、予定を立てやすく、見やすく。</p>
    </div>
    <div class="col-12">
      <p>何ができる？</p>
      <p>実際に会社でチームで働いている人をメインターゲットにしています。
こだわりのポイントとして、グループ機能を作り、
そこでチャットが使えることにより、振り返りを見て、
それに対するコメント、アドバイスが可能になります。
それにより、上司と部下のコミュニケ―ションがスムーズになることを
期待しています。</p>
    </div>
    <div class="col-12">
      <p>毎日の振り返りに使ってみませんか？</p>
    </div>
  </div>
  
</div>