<div class="top">
  <div class="text1">
    <img src="/assets/logo_goal.png" width="60%">
  </div>
  <div class="text2">
    <%= link_to about_path do %>
    <img src="/assets/logo_goal.png" width="100px">とは？
    <% end %>
  </div>
  <div class="text3">
    <%= link_to "始める！(新規登録)", new_user_registration_path %>
  </div>
  <div class="text3">
    <%= link_to 'ログイン', new_user_session_path %>
  </div>

</div>