.top
  dl.text1
    |  <img src="
    = asset_path "logo_goal.png"
    | " width="60%">
  dl.text2
    = link_to about_path, class: "link" do
      |  <img src="
      = asset_path "logo_goal.png"
      | " width="100px">とは？
  dl.text3[data-turbolinks="false"]
    = link_to "始める！(新規登録)", new_user_registration_path, class: "link"
  dl.text4
    = link_to 'ログイン', new_user_session_path, class: "link"
  dl.text5
    = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "link"