<div class="container">
  <h4>目標一覧</h4>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#goal_active" class="nav-link active" data-toggle="tab">未達成目標</a>
        </li>
        <li class="nav-item">
          <a href="#goal_done" class="nav-link" data-toggle="tab">達成済み目標</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="goal_active" class="tab-pane active">
          <%= render 'index', goals: @goals_active %>
        </div>
        <div id="goal_done" class="tab-pane">
          <%= render 'index', goals: @goals_done %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>目標入力</h4>
      <%= render 'form', goal: @goal %>
    </div>
  </div>
</div>