/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "bootstrap";


.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    background-color: #e3f2fd;
}
.navbar-light .navbar-brand:hover{
    color: white;
    background-color: #e3f2fd;
}
.navbar{
    width: 100vw;
}

td.fc-sat {
    background-color: #eaf4ff;
}
td.fc-sun {
    background-color: #ffeaea;
}

.img {
  border-radius: 50%;
  object-fit: cover;
}
.footerFixed{
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}
footer{
  width: 100vw;
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  background-color: #e3f2fd;
}
.container{
  padding: 40px;
}
.row{
  padding-top: 20px;
}
#notice{
  height: 16px;
  margin-bottom: -16px;
  color: orange;
  padding-left: 30px;
}
.alert{
  margin-bottom: -2em;
  color: red;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
  padding: 5px 8px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px !important;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
  background: #e0e0e0;
}
a:hover {
  background-color: transparent;
}
.margin{
  margin-right: 20px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background-color: #93c9ff;
}
.sp_only{
  display: none !important;
}
@media screen and (max-width: 480px) {
  .sp_only{
		display: initial !important;
	}

  .pc_only{
		display: none !important;
	}
}