// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.colum{
  background-color: #e3f2fd;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
.introduction{
  overflow-wrap: anywhere;
}
.tip{
  margin-left: 20px;
}