= form_with(model: review, local: true) do |form|
  - if review.errors.any?
    #error_explanation
      h2
        = pluralize(review.errors.count, "error")
        |  prohibited this review from being saved:
      ul
        - review.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label '達成率（％）'
    = form.number_field :rate, class: "form-control", placeholder: "例）80"
  .field
    = form.label '本日の振り返り(反省）'
    = form.text_area :review, class: "form-control", rows: "8", placeholder: "例）予定通りに進んだ。"
  .field
    = form.label '明日の目標'
    = form.text_area :plan, class: "form-control", rows: "8", placeholder: "例）アポ2件。"
  .field
    = form.label '本日のトピック題名'
    = form.text_field :title, class: "form-control", placeholder: "例）名古屋の不動産価格上昇"
  .field
    = form.label '本日のトピック'
    = form.text_area :topic, class: "form-control", rows: "8", placeholder: "例）リニアモーターカーの開通による、再開発事業により、名古屋の地価が上昇している。"
  .field
      |公開ステータス
      br
      = f.radio_button :active, :true
      = f.label :active, "公開", {value: :true, style: "display: inline-block;"}
      = f.radio_button :active, :false
      = f.label :active, "非公開", {value: :false, style: "display: inline-block;"}
  .actions
    = form.submit
