<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="coi-12">
<h4>振り返り</h4>
<%= render 'index', reviews: @reviews %>


<br>

<%= link_to 'New Review', new_review_path %>
</div>
<div class="col">
  
</div>
</div>
</div>