.container
  .row
    .col-7.colum
      p
        strong
          | 達成率:
        = @review.rate
        | % 
      p
        strong
          | 本日の振り返り(反省）:
        = @review.review
      p
        strong
          | 明日の目標:
        = @review.plan
      p
        strong
          | 本日のトピック題名:
        = @review.title
      p
        strong
          | 本日のトピック:
        = @review.topic
      p

      #likes_buttons
        = render partial: 'likes/like', locals: { review: @review}
      = link_to '編集', edit_review_path(@review), class: "btn btn-outline-primary"
      |  | 
      = link_to '振り返り一覧へ', reviews_path, class: "btn btn-outline-primary"
    .col-4.offset-md-1.colum
      p
        | いいねしたユーザー
      - @review.liked_users.each do |user|
        li
          = user.name
        li
          = attachment_image_tag user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg", class: "img"
      .comments
        #comments_error
          = render 'layouts/errors', model: @comment
        #comments_area
          = render partial: 'comments/index', locals: { review: @review}
        .new-comment
          #comment_new
            = render partial: 'comments/form', locals: { review: @review, comment: @comment}
